<ion-tabs>

  <ion-tab-bar slot="bottom" color="vermelho">
    <ion-tab-button tab="calendario">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendário Escolar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="duvidas">
      <ion-icon name="help"></ion-icon>
      <ion-label>Dúvidas Frequentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Etec Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fale-conosco">
    <ion-icon name="call"></ion-icon>
      <ion-label>Fale Conosco</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>