.cor-v{
    color:#a3130d;
    font-weight: bold;
 }
 
 .centro{
     text-align:"center";
 }
 
 .borda{
     border-style: groove;
     color:#000;
     border-spacing: 0px;
 }
 
 .mZero{
     margin:0px;
 }
 
 .pZero{
     padding: 0px;
 }
 
 .mTop{
     margin-top:10px;
 }