<ion-header>
  <ion-toolbar color="vermelho">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Professores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="pZero mTop">
        <ion-row>
          <ion-col class="borda">
            <p class="cor-v mZero">Professor</p>
          </ion-col>
          <ion-col class="cor-v borda">
            <p class="cor-v mZero">Matéria</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="pZero">
        <ion-row>
          <ion-col class="borda ">
            Maisa 
          </ion-col>
          <ion-col class="borda">
            Linguagem, Trabalho e Tecnologia
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="pZero">
        <ion-row>
          <ion-col class="borda">
            Gallo
          </ion-col>
          <ion-col class="borda">
            Programação e Algoritimos
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="pZero">
        <ion-row>
          <ion-col class="borda">
            Edriano
          </ion-col>
          <ion-col class="borda">
            Banco de Dados
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="pZero">
        <ion-row>
          <ion-col class="borda">
           Ronan
          </ion-col>
          <ion-col class="borda">
            Ánalise e Projeto de Sistemas
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="pZero">
        <ion-row>
          <ion-col class="borda">
           Alesson
          </ion-col>
          <ion-col class="borda">
              Design Digital
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="pZero">
        <ion-row>
          <ion-col class="borda">
           Márcio
          </ion-col>
          <ion-col class="borda">
            Programação Web I
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="pZero">
        <ion-row>
          <ion-col class="borda">
            Rose
          </ion-col>
          <ion-col class="borda">
            Fundamentos da Informática
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="pZero">
        <ion-row>
          <ion-col class="borda">
            Sérgio
          </ion-col>
          <ion-col class="borda">
            Técnicas de Programação
          </ion-col>
        </ion-row>
      </ion-grid>
    
</ion-content>
