<ion-header>
  <ion-toolbar color="vermelho" class="centro">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="pZero mTop">
    <ion-row>
      <ion-col class="borda">
        <p class="cor-v mZero">Matéria</p>
      </ion-col>
      <ion-col class="cor-v borda">
        <p class="cor-v mZero">Notas</p>
      </ion-col>
      <ion-col class="cor-v borda">
        <p class="cor-v mZero">Frequência</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pZero">
    <ion-row>
      <ion-col class="borda ">
        LTT
      </ion-col>
      <ion-col class="borda">
        MB
      </ion-col>
      <ion-col class="borda">
        100%
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pZero">
    <ion-row>
      <ion-col class="borda">
        PA
      </ion-col>
      <ion-col class="borda">
        MB
      </ion-col>
      <ion-col class="borda">
        100%
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pZero">
    <ion-row>
      <ion-col class="borda">
        BD
      </ion-col>
      <ion-col class="borda">
        MB
      </ion-col>
      <ion-col class="borda">
        100%
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pZero">
    <ion-row>
      <ion-col class="borda">
        APS
      </ion-col>
      <ion-col class="borda">
        MB
      </ion-col>
      <ion-col class="borda">
        100%
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pZero">
    <ion-row>
      <ion-col class="borda">
        DD
      </ion-col>
      <ion-col class="borda">
        MB
      </ion-col>
      <ion-col class="borda">
        100%
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pZero">
    <ion-row>
      <ion-col class="borda">
        PWI
      </ion-col>
      <ion-col class="borda">
        MB
      </ion-col>
      <ion-col class="borda">
        100%
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pZero">
    <ion-row>
      <ion-col class="borda">
        FI
      </ion-col>
      <ion-col class="borda">
        MB
      </ion-col>
      <ion-col class="borda">
        100%
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="pZero">
    <ion-row>
      <ion-col class="borda">
        TP
      </ion-col>
      <ion-col class="borda">
        MB
      </ion-col>
      <ion-col class="borda">
        100%
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>