.centro{
    text-align: center
}

.espaco-acima{
    margin-top: 60%;
}

.row-centro{
    align-items: center
}

.titulo-p{
 text-align: center;
 padding-left: 5px;
 padding-right: 5px;
}

.ajustado{
    text-align: justify;
}

.espaco-ac{
    margin-top: 20px;
}

.negrito{
    font-weight: bold;
}