<ion-header>
  <ion-toolbar color="vermelho" class="centro">
    <ion-title>Etec Code Start</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="vermelho">
  <ion-card color="light">
    <ion-toolbar color="preto">
      <h3 class="titulo-p" color="vermelho">Bem Vindo ao Etec Code Start</h3>
    </ion-toolbar>
    <ion-card-content>
      <ion-text color="preto">
        <p class="negrito"> Selecione o tipo de usuário que você se adequa.</p>
        <ion-button fill="solid" color="vermelho" class="espaco-ac" size="small" expand="full" routerLink="/interessados">INTERESSADO</ion-button>
        
        <ion-button fill="solid" color="vermelho" class="espaco-ac" size="small" expand="full" routerLink="/tabs/tab1">ALUNO</ion-button>

      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>